sudo: required
language: node
before_install:
- curl https://raw.githubusercontent.com/apex/apex/master/install.sh | sudo sh
deploy:
 # dev
 - provider: script
   script: make dev
   skip_cleanup: true
   on:
      branch: master
 # demo
 - provider: script
   script: AWS_ACCESS_KEY_ID=$AWS_915001051872_ID AWS_SECRET_ACCESS_KEY=$AWS_915001051872_SECRET make demo
   skip_cleanup: true
   on:
      branch: master
 # production
 - provider: script
   script: AWS_ACCESS_KEY_ID=$AWS_192458993663_ID AWS_SECRET_ACCESS_KEY=$AWS_192458993663_SECRET make prod
   skip_cleanup: true
   on:
      branch: master
